
#vis text { cursor: pointer; }
#vis text:hover { opacity: .7 !important; }

a.close {
    color: #ed217c;
}

.selected {
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
}

h1, h2, h3, h4 {
    color: #ed217c;
}

.hero-unit h1 {
    color: #ed217c;
}

.clickable {
    cursor: pointer;
    color: #ed217c;
    background: #fffafa;
}

#band_list {
    margin-left: 15px;
    margin-rigth: 10px;
}

#band_list li {
    padding: 1px;
    padding-left: 4px;
}
